*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
body{
    font-size: 12px;
}
main{
    
    height: calc(100% - 90px);
    display: flex;
}
header{
    background-color: white;
}
.nav{
    background: rgb(45, 74, 207);
    height: 100%;
    width: 15rem;
    flex-direction: column;
   margin-top: 54px;
   position: fixed;
}
.contenuto{
    margin-top: 54px;
    height: 100%;
    width: calc(100% - 0rem);
    overflow: auto;
    padding-left: 17.8%;
}
.image{
    width: 7%;
}